{% extends "blog/index.html.twig" %}
{% block content%}
    <h1>{{ post.title }}</h1>
    <h5>{{ post.createdAt|date("m/d/Y") }}</h5>
    <p>{{ post.description }}</p>
    <p>{{ post.content }}</p>
    <h3>{{ post.additionalLinks }}</h3>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {{ form(form) }}
    {% endif %}
    <ul>
        {% for comment in comments %}
            <li>
            <ul>
            <li>{{ comment.author }}</li>
            <li>{{ comment.content}} {{ comment.createdAt|date('Y-m-d')}}</li>
                {% if (app.user.Username == comment.author) or is_granted('ROLE_REDACTOR')%}
            <li><a href="{{ path('delete_comment', {'idcomment': comment.id ,'idpost': post.id}) }}">Delete</a>
            <input type="button" value="edytuj" ></li>
                {% endif %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
